.filter-section{
    grid-area: filter;
}

.products-section{
    grid-area:products;
    margin-left: 100px;
}

.header{
    grid-area: header;
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    place-items: center;
}

.products-page-main-section{
    display: grid;
    grid-template-areas: "header header header" "filter products products";
}

@media screen and (max-width:1240px) and (min-width:900px) {
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:900px){
    .products{
        grid-template-columns: 1fr;
    }
}