.login{
    height: 100vh;
    display: flex ;
    justify-content: center;
    padding-top: 30px;
    
}

.login-form-container{
    border: 1px solid;
    height: fit-content;
    width:400px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 10px;
    border-radius:5px ;
}

.login-form-container input{
    height:5vh;
    width:auto;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
}

.login-form-container div{
    display: flex;
    flex-direction: column;
}

.login-form-heading{
    font-size: 1.5rem;
    text-align: center;
}

.submit-btn{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
}

.link-login{
    text-align: center;
}